h3 {
  color: navy;
  margin-bottom: 20px;
  text-align: center;
}
.formDiv {
  padding: 20px;
  /* font-family: "Helvetica", serif; */
  box-shadow: 5px 5px 5px 5px #888888;
  border-radius: 10px;
  margin-bottom: 50px;
}
form li {
  list-style: none;
}
form ul li label {
  /* float: left;
  clear: left; */
  /* width: 265px; */
  /* text-align: right; */
  /* margin-right: 10px; */
  /* font-family: sans-serif; */
  font-weight: normal;
  font-size: 12px;
}
form ul li input,
select,
span {
  float: left;
  margin-bottom: 10px;
  /* comment out border styling in order to see validation test styling in js */
  /* border: 1px solid maroon; */
}
form textarea {
  /* float: left; */
  width: 350px;
  height: 150px;
}
[type="button"] {
  clear: left;
  margin: 20px 0 0 300px;
  font-size: 18px;
}
