<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
    <title>AO Dashboard</title>
         <!-- Bootstrap & CSS Stylesheet -->
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" type="text/css" href="./aoDash.css" />
    
</head>

<body>
    <div class="container-fluid">
        <!-- Navigation Menu -->
        <nav
          class="navbar navbar-expand-lg navbar-light justify-content-between"
          style="background-color: #8cc63f;"
        >
          <a class="navbar-brand" href="#">
            <img src="./ufLogoWhite.png" width="155" height="70" alt="" />
          </a>
          <!-- nav settings ? -->
          <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button> -->
  
          <div class="navbar navbar-default">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  ADMIN
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Register F.O</a>
                  <a class="dropdown-item" href="#">List All F.O</a>
                  <a class="dropdown-item" href="#">Appoint New F.O</a>
                  <a class="dropdown-item" href="#">Create F.O Login</a>
                  <!-- <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Logout</a> -->
                </div>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/views/aoDash.pug">LOGOUT</a>
              </li>
            </ul>
          </div>
        </nav>
  
        <div class="container">
            <div class="welcomeBox">
                <h3>Welcome to the Ufarm Dashboard !</h3><br>
                <p>As the Agricultural Officer, you have access to the following functions:</p>
                <ol>
                    <li>1) Register a Farmer One Officer (F.O) onto this platform</li>
                    <li>2) List all the F.O on the platform & view which ward they are assigned to</li>
                    <li>3) Appoint a new F.O within an Urban Ward</li>
                    <li>4) Create or Edit Login Credentials for F.O to access this platform</li>
                </ol><br>
            
                <h4>To get started, click on 'Admin' in the navigation menu above</h4>
            </div>
        </div>
    </div>

     <!-- Bootstarp JavaScript plugins -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
</body>
</html>