extends layout
block content    
    div.container-fluid.row-cols-2
        div.col-md-6
            img(src="images/femaleDevPic.jpg" width="680" height="680")
        div.col-md-6.greenbox
            h1 Hello World
            div.welcomeText
                p My name is Liz Kamugisha and I’m an aspiring full stack software developer. If you would like to follow my programming journey, or get some beginner friendly tips on what I have learnt so far, subscribe to my blog newsletter !
                form(method="POST" action="/linkToForm")
                    button(type="submit" class="btn btn-warning btn-lg col-md-3" name="subscribe" value="submit") Subscribe
                    //- Try linking using href ?
                    //- a(href="./form.pug" class="button") Click Here